.toolbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

p {
    color: white;
}

.logo {
    width: 190px;
    height: 60px;
}