<div class="container">
    <div class="container-div-1">
        <h6>{{ card.name }}</h6>
        <p>{{ card.type }}</p>
        <img class="img" src="magic.png" alt="Icone site">
        <div class="extra-info">
            <p class="info rarity"> Rarity: </p> 
            <p class="value-info"> {{ card.rarity }} </p>
            <p class="info set"> Set: </p>
            <img class="type-icon" src="https://upload.wikimedia.org/wikipedia/en/5/51/The_Common_version_of_the_symbol_used_to_identify_cards_released_as_part_of_the_Limited_Edition_Alpha_set_for_the_trading_card_game_Magic_the_Gathering.svg" alt="Magic the Gathering Common Symbol">
        </div>
        <mat-divider></mat-divider>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-subtitle>Description</mat-card-subtitle>
              </mat-card-header>            
            <mat-card-content>{{ card.text }}</mat-card-content>
        </mat-card>
    </div>
</div>
