<div class="container">
    <div class="container-div-1">
        <h6>{{ card.name }}</h6>
        <p>{{ card.type }}</p>
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                    <img class="img" [src]="card.imageUrl" alt="Card Image {{card.name}}">
                </div>
                <div class="back">
                    <img class="img" src="backCard.webp" alt="Back Image">
                </div>
            </div>
        </div>
        <div class="extra-info">
            <p class="label rarity"> Rarity: </p> 
            <p class="value-info" [ngStyle]="{ 'color': getColorForSet(card.rarity) }"> {{ card.rarity }} </p>
            <p class="label set"> Set: </p>
            <p class="value-set"> {{ card.set }} </p>
            @if(card.power || card.toughness != undefined) {
                <p class="label pt"> P/T: </p>
                <p class="power-toughness">{{ card.power + "/" + card.toughness }}</p>
            }
        </div>
        <mat-divider></mat-divider>
        <mat-card appearance="outlined">
            <mat-tab-group>
                <mat-tab label="Description">          
                    <mat-card-content>{{ card.text }}</mat-card-content>
                </mat-tab>
                <mat-tab label="Card Informations">         
                    <mat-card-content class="informations">
                        @if(card.power !== undefined && card.power !== null) {
                            <span>
                                <span class="label"> Power: </span>
                                <span class="value power">{{ card.power }}</span>
                            </span>
                        }
                        @if(card.toughness !== undefined && card.toughness !== null) {
                            <span>
                                <span class="label"> Toughness: </span>
                                <span class="value toughness">{{ card.toughness }}</span>
                            </span>
                        }
                        @if(card.cmc !== undefined && card.cmc !== null) {
                            <span>
                                <span class="label"> Mana Value: </span>
                                <span class="value cmc">{{ card.cmc }}</span>
                            </span>
                        }
                        <span>
                            <span class="label"> Set Name: </span>
                            <span class="value-set">{{ card.setName }}</span>
                        </span>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
